<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Our history.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2017</h4>
                                    <h4 class="subheading">Inital Geoscience Software Work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Developed advanced toolkits to perform porosity and petrophysical analysis on geoscience digital well log data sets over scale-able geographic areas (from pool size up to entire provinces).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2017</h4>
                                    <h4 class="subheading">Transitioned to Full-Time Consulting</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Developed program to analyse and maximize geophysical data utilizing 2D modelling and band-limited inversion.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2018</h4>
                                    <h4 class="subheading">Joined RQA (now geoROCK) team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Joined Darren Kondrat in developing what is now geoROCK</p>
                                </div>
                            </div>
                        </li>
                          <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2019</h4>
                                    <h4 class="subheading">Incorporation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">On-going business development!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2019 - current</h4>
                                    <h4 class="subheading">sold RQA assets to geoLOGIC Systems</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Consulting to geoLOGIC Systems Inc. to develop geoROCK</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>