<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">A small sampling of our services.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-abacus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Geophysical Interpretation</h4>
                    <p class="text-muted">Advanced geophysical interpretaion for Western Canada and International.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Geoscience Software</h4>
                    <p class="text-muted">Open Source and commercial Geoscience software development utilizing modern languages, primarily Python and C#.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chart-pie fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science and Analysis</h4>
                    <p class="text-muted">Data analysis utilizing machine learning for advanced data analysis, principally in Geoscience</p>
                </div>
            </div>
        </div>
    </section>